<mat-tab-group color="primary" backgroundColor="accent">
  <mat-tab label="Event Reservation">
      <mat-form-field>
        <input matInput [matDatepicker]="startDatePicker" placeholder="Event start date" [formControl]="templateDate" (dateChange)="onStartDateChange($event.value)">
        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput [matDatepicker]="endDatePicker" placeholder="Event end date" [formControl]="templateDate" (dateChange)="onEndDateChange($event.value)">
        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Max. Visitors" [(ngModel)]="visitors">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Ticket Price" [(ngModel)]="price">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Parking Capacity"  [(ngModel)]="capacity">
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-select placeholder="Halls" [formControl]="halls" multiple (selectionChange)="onHallsSelectionChange($event)">
          <mat-option *ngFor="let hall of hallList" [value]="hall">{{ hall }}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary" (click)="getReservationAvailability()">Check Availability</button>
      <br>
      <br>
      <button mat-raised-button color="primary" (click)="createReservation()">Create Reservation</button>
  </mat-tab>
  <mat-tab label="Event Management">
    <mat-form-field>
      <input matInput placeholder="Event ID" [(ngModel)]="eventId">
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" (click)="getEventInformation()">Request Event Information</button>
    <br>
    <br>
    <button mat-raised-button color="primary" (click)="endEvent()">End Event</button>
  </mat-tab>
  <mat-tab label="Parking">
    <button mat-raised-button color="primary" (click)="createParkingTicket()">Create Parking Ticket</button>
    <br>
    <br>
    <mat-form-field>
      <input matInput placeholder="Ticket ID" [(ngModel)]="parkingTicketId">
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" (click)="validateParkingTicket()">Validate Parking Ticket</button>
    <br>
    <br>
    <button mat-raised-button color="primary" (click)="exitParking()">Exit Parking Ticket</button>
  </mat-tab>
  <mat-tab label="Tracking">Tracking</mat-tab>
  <mat-tab label="Ticket">
    <button mat-raised-button color="primary" (click)="getTicketAvailability()">Check ticket availability</button>
  </mat-tab>
  <mat-tab label="Badge">Badge</mat-tab>
  <mat-tab label="Food and Drinks">Food and Drinks</mat-tab>
  <mat-tab label="Cloakroom">Cloakroom</mat-tab>
  <mat-tab label="Multimedia">Multimedia</mat-tab>
    
  <mat-tab label="Security">Security</mat-tab>
    <!--<br>
    <br>
    <mat-form-field>
        <mat-radio-group aria-label="Select the type of emergency" [(ngModel)]="type">
          <mat-radio-button value="FIRE">Fire</mat-radio-button>
          <mat-radio-button value="NUCLEAR_ATTACK">Nuclear Attack 2</mat-radio-button>
          <mat-radio-button value="CO">CO2</mat-radio-button>
          <mat-radio-button value="MANUAL">Manual emergency</mat-radio-button>
      </mat-radio-group>
    </mat-form-field>
    <br>
    <br>
    <button mat-raised-button color="primary" (click)="triggerEmergency()">Send Emergency</button>-->
</mat-tab-group>
