<mat-tab-group color="primary" backgroundColor="accent">
  <mat-tab label="Event Reservation">
    <mat-form-field>
      <input matInput [matDatepicker]="startDatePicker" placeholder="Event start date" [formControl]="startDate">
      <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput [matDatepicker]="endDatePicker" placeholder="Event end date" [formControl]="endDate">
      <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker></mat-datepicker>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary">Check Availability</button>
    <br>
    <br>
    <button mat-raised-button color="primary">Reserve</button>
  </mat-tab>
  <mat-tab label="Event Management">Event Management</mat-tab>
  <mat-tab label="Tracking">Tracking</mat-tab>
  <mat-tab label="Ticket">Ticket</mat-tab>
  <mat-tab label="Badge">Badge</mat-tab>
  <mat-tab label="Food and Drinks">Food and Drinks</mat-tab>
  <mat-tab label="Cloakroom">Cloakroom</mat-tab>
  <mat-tab label="Multimedia">Multimedia</mat-tab>
  <mat-tab label="Security">Security</mat-tab>
</mat-tab-group>
